/*
 *
 * EXTRA EXTRA SMALL SCREENS
 *
 */
@media screen and (max-width: 450px) {
    /* SET BACKGROUND COLOR */
    body {
        background-color: whitesmoke;
    }

    /* SET FONT SIZES */
    h1 {
        font-family: sans-serif;
        font-size: 48px;
    }

    h2 {
        font-family: Overpass, sans-serif;
        font-size: 24px;
    }

    h3 {
        font-family: Overpass, sans-serif;
        font-size: 16px;
    }

    h4 {
        font-family: Overpass, sans-serif;
        font-size: 13px;
    }

    h5 {
        font-family: Overpass, sans-serif;
        font-size: 12px;
    }

    /* SET HOVERABLE */
    .hoverable {
        transition-duration: 0.4s;
        transition-property: color, opacity;
    }

    .hoverable:hover {
        color: rgba(16, 20, 141, 0.57);
    }

    /* HEADER STYLING */
    header {
        background-color: rgba(227, 114, 97, 0.75);

        padding: 15px 25px;
    }

    .header-flex-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .header-flex-item:nth-child(1) {
        order: 1;
    }

    .header-flex-item:nth-child(2) {
        order: 3;
    }

    .header-flex-item:nth-child(3) {
        order: 2;
        width: 0;
        height: 0;
        visibility: collapse;
    }

    .sub-header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;

        row-gap: 3px;
    }

    .sub-header-flex-item {
        color: rgba(16, 20, 141, 0.57);
    }

    .header-flex-item:first-child .sub-header-flex-item:last-child {
        position: relative;
        bottom: 10px;
    }

    #title {
        color: #ffd5e9;
        font-family: "Dancing Script", sans-serif;
    }

    .nav-flex-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .nav-flex-item {
        color: #ffd5e9;

        font-size: 20px;
    }

    .nav-flex-item:last-child {
        margin-top: 0;
    }

    /* BODY STYLING */
    .body-flex-container {
        color: rgba(0, 0, 0, 0.7);

        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        padding: 50px;
    }

    .body-flex-item {

    }

    .body-flex-item:last-child {
        flex-grow: 1;
    }

    /* SECTION STYLING */
    .sub-body-flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        row-gap: 5px;
    }

    .sub-body-flex-item {
        flex: 1 1 100%;
    }

    #film-title {
        color: rgba(16, 20, 141, 0.57);
    }

    #film-role-and-release {
        flex: 1 1 100%;
    }

    #film-description {
        flex: 1 1 100%;
    }

    #film-cast {
        margin-top: 15px;
    }

    #film-logline {
        margin-top: 15px;
    }

    .extra-content {
        margin-top: 15px;
    }

    .media-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #film-festivals {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;

        row-gap: 10px;

        text-align: center;
    }

    .festivals-container {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-around;

        row-gap: 10px;
    }

    .festival {
        flex: 1 1 auto;

        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }

    #film-screener-request {
        flex: unset;

        margin-top: 30px;
    }

    #film-screener-request a h4 {
        color: rgba(16, 20, 141, 0.57);;

        background-color: whitesmoke;
        border: 2px solid rgba(16, 20, 141, 0.57);
        border-radius: 6px;

        padding: 10px;

        text-align: center;

        transition-duration: 0.4s;
    }

    #film-screener-request a h4:hover {
        background-color: rgba(16, 20, 141, 0.57);
        color: whitesmoke;

        padding: 10px;

        text-align: center;
    }
}

/*
 *
 * EXTRA SMALL SCREENS
 *
 */
@media screen and (min-width: 451px) and (max-width: 500px) {
    /* SET BACKGROUND COLOR */
    body {
        background-color: whitesmoke;
    }

    /* SET FONT SIZES */
    h1 {
        font-family: sans-serif;
        font-size: 48px;
    }

    h2 {
        font-family: Overpass, sans-serif;
        font-size: 24px;
    }

    h3 {
        font-family: Overpass, sans-serif;
        font-size: 16px;
    }

    h4 {
        font-family: Overpass, sans-serif;
        font-size: 13px;
    }

    h5 {
        font-family: Overpass, sans-serif;
        font-size: 12px;
    }

    /* SET HOVERABLE */
    .hoverable {
        transition-duration: 0.4s;
        transition-property: color, opacity;
    }

    .hoverable:hover {
        color: rgba(16, 20, 141, 0.57);
    }

    /* HEADER STYLING */
    header {
        background-color: rgba(227, 114, 97, 0.75);

        padding: 15px 25px;
    }

    .header-flex-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .header-flex-item:nth-child(1) {
        order: 1;
    }

    .header-flex-item:nth-child(2) {
        order: 3;
    }

    .header-flex-item:nth-child(3) {
        order: 2;
        width: 0;
        height: 0;
        visibility: collapse;
    }

    .sub-header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;

        row-gap: 3px;
    }

    .sub-header-flex-item {
        color: rgba(16, 20, 141, 0.57);
    }

    .header-flex-item:first-child .sub-header-flex-item:last-child {
        position: relative;
        bottom: 10px;
    }

    #title {
        color: #ffd5e9;
        font-family: "Dancing Script", sans-serif;
    }

    .nav-flex-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .nav-flex-item {
        color: #ffd5e9;

        font-size: 20px;
    }

    .nav-flex-item:last-child {
        margin-top: 0;
    }

    /* BODY STYLING */
    .body-flex-container {
        color: rgba(0, 0, 0, 0.7);

        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        padding: 50px;
    }

    .body-flex-item {

    }

    .body-flex-item:last-child {
        flex-grow: 1;
    }

    /* SECTION STYLING */
    .sub-body-flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        row-gap: 5px;
    }

    .sub-body-flex-item {
        flex: 1 1 100%;
    }

    #film-title {
        color: rgba(16, 20, 141, 0.57);
    }

    #film-role-and-release {
        flex: 1 1;

        margin-right: 20px;
    }

    #film-description {
        flex: 1 1;
        text-align: right;
    }

    #film-cast {
        margin-top: 15px;
    }

    #film-logline {
        margin-top: 15px;
    }

    .extra-content {
        margin-top: 15px;
    }

    .media-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #film-festivals {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;

        row-gap: 10px;

        text-align: center;
    }

    .festivals-container {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-around;

        row-gap: 10px;
    }

    .festival {
        flex: 1 1 auto;

        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }

    #film-screener-request {
        flex: unset;

        margin-top: 30px;
    }

    #film-screener-request a h4 {
        color: rgba(16, 20, 141, 0.57);;

        background-color: whitesmoke;
        border: 2px solid rgba(16, 20, 141, 0.57);
        border-radius: 6px;

        padding: 10px;

        text-align: center;

        transition-duration: 0.4s;
    }

    #film-screener-request a h4:hover {
        background-color: rgba(16, 20, 141, 0.57);
        color: whitesmoke;

        padding: 10px;

        text-align: center;
    }
}

/*
 *
 * SMALL SCREENS
 *
 */
@media screen and (min-width: 501px) and (max-width: 800px) {
    /* SET BACKGROUND COLOR */
    body {
        background-color: whitesmoke;
    }

    /* SET FONT SIZES */
    h1 {
        font-family: sans-serif;
        font-size: 48px;
    }

    h2 {
        font-family: Overpass, sans-serif;
        font-size: 24px;
    }

    h3 {
        font-family: Overpass, sans-serif;
        font-size: 16px;
    }

    h4 {
        font-family: Overpass, sans-serif;
        font-size: 13px;
    }

    h5 {
        font-family: Overpass, sans-serif;
        font-size: 12px;
    }

    /* SET HOVERABLE */
    .hoverable * {
        transition-duration: 0.4s;
        transition-property: color, opacity;
    }

    .hoverable:hover {
        color: rgba(16, 20, 141, 0.57);
    }

    /* HEADER STYLING */
    header {
        background-color: rgba(227, 114, 97, 0.75);

        padding: 15px 25px;
    }

    .header-flex-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .header-flex-item:nth-child(1) {
        order: 1;
    }

    .header-flex-item:nth-child(2) {
        order: 3;
    }

    .header-flex-item:nth-child(3) {
        order: 2;
        width: 0;
        height: 0;
        visibility: collapse;
    }

    .sub-header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;

        row-gap: 3px;
    }

    .sub-header-flex-item {
        color: rgba(16, 20, 141, 0.57);
    }

    .header-flex-item:first-child .sub-header-flex-item:last-child {
        position: relative;
        bottom: 10px;
    }

    #title {
        color: #ffd5e9;
        font-family: "Dancing Script", sans-serif;
    }

    .nav-flex-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: right;
        align-items: flex-start;
    }

    .nav-flex-item {
        color: #ffd5e9;
        font-size: 20px;

        margin-left: 15px;
    }

    /* BODY STYLING */
    .body-flex-container {
        color: rgba(0, 0, 0, 0.7);

        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        padding: 50px;
    }

    .body-flex-item {

    }

    .body-flex-item:last-child {
        flex-grow: 1;
    }

    /* SECTION STYLING */
    .sub-body-flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        row-gap: 5px;
    }

    .sub-body-flex-item {
        flex: 1 1 100%;
    }

    #film-title {
        color: rgba(16, 20, 141, 0.57);
    }

    #film-role-and-release {
        flex: 1 1;

        margin-right: 20px;
    }

    #film-description {
        flex: 1 1;
        text-align: right;
    }

    #film-cast {
        margin-top: 20px;
    }

    #film-logline {
        margin-top: 20px;
    }

    .extra-content {
        margin-top: 20px;
    }

    .media-container {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #film-festivals {
        display: flex;
        flex-flow: column wrap;

        justify-content: center;

        row-gap: 10px;

        text-align: center;
    }

    .festivals-container {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-around;

        row-gap: 10px;
    }

    .festival {
        flex: 1 1 auto;

        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }

    #film-screener-request {
        flex: unset;

        margin-top: 30px;
    }

    #film-screener-request a h4 {
        color: rgba(16, 20, 141, 0.57);

        background-color: whitesmoke;
        border: 2px solid rgba(16, 20, 141, 0.57);
        border-radius: 6px;

        padding: 10px;

        text-align: center;

        transition-duration: 0.4s;
    }

    #film-screener-request a h4:hover {
        background-color: rgba(16, 20, 141, 0.57);
        color: whitesmoke;

        padding: 10px;

        text-align: center;
    }
}

/*
 *
 * MEDIUM/LARGE SCREENS
 *
 */
@media screen and (min-width: 801px) {
    /* SET BACKGROUND COLOR */
    body {
        background-color: whitesmoke;
    }

    /* SET FONT SIZES */
    h1 {
        font-family: sans-serif;
        font-size: 48px;
    }

    h2 {
        font-family: Overpass, sans-serif;
        font-size: 24px;
    }

    h3 {
        font-family: Overpass, sans-serif;
        font-size: 16px;
    }

    h4 {
        font-family: Overpass, sans-serif;
        font-size: 13px;
    }

    h5 {
        font-family: Overpass, sans-serif;
        font-size: 12px;
    }

    /* SET HOVERABLE */
    .hoverable {
        transition-duration: 0.4s;
        transition-property: padding-right, opacity, color;
    }

    .hoverable:hover {
        color: rgba(16, 20, 141, 0.57);
    }

    /* HEADER STYLING */
    header {
        background-color: rgba(227, 114, 97, 0.75);

        position: fixed;
        width: 300px;
        padding-left: 25px;
        padding-right: 50px;
        min-height: 320px;
        height: 100%;
    }

    .header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        justify-content: space-evenly;
    }

    .header-flex-item {
    }

    .sub-header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
    }

    .sub-header-flex-item {
        color: rgba(16, 20, 141, 0.57);
        text-align: right;
    }

    #title {
        font-family: "Dancing Script", sans-serif;
        color: #ffd5e9;

        position: relative;
        top: 5px;
    }

    .nav-flex-container {
        flex-grow: 1;
        padding-top: 20px;
        padding-bottom: 20px;

        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        justify-content: center;
    }

    .nav-flex-item {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .nav-flex-item > a {
        color: #ffd5e9;

        padding-right: 8px;
        border-right-style: solid;
        border-right-width: 3px;
        border-color: rgba(16, 20, 141, 0.57);
    }

    .nav-flex-item > a:hover {
        padding-right: 4px;
        border-style: unset;
    }

    .sub-header-flex-container:last-child {
        row-gap: 5px;
    }

    .sub-header-flex-container:last-child > .sub-header-flex-item {
        text-align: left;
        color: rgba(16, 20, 141, 0.57);
    }

    .sub-header-flex-container:last-child > .sub-header-flex-item > a {
        color: #ffd5e9;
    }

    /* BODY STYLING */
    .body-flex-container {
        color: rgba(0, 0, 0, 0.7);

        display: flex;
        flex-flow: row nowrap;

        padding: 50px 50px;
    }

    .body-flex-item {

    }

    .body-flex-item:first-child {
        min-width: 300px;
        width: 300px;
    }

    /* SECTION STYLING */
    .sub-body-flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        row-gap: 5px;
    }

    .sub-body-flex-item {
        flex: 1 1 100%;
    }

    #film-title {
        color: rgba(16, 20, 141, 0.57);
    }

    #film-role-and-release {
        flex: 1 1;

        margin-right: 20px;
    }

    #film-description {
        flex: 1 1;
        text-align: right;
    }

    #film-cast {
        margin-top: 20px;
    }

    #film-logline {
        margin-top: 20px;
    }

    .extra-content {
        margin-top: 20px;
    }

    .media-container {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #film-festivals {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;

        row-gap: 10px;

        text-align: center;
    }

    .festivals-container {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-around;

        row-gap: 10px;
    }

    .festival {
        flex: 1 1 auto;

        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }

    #film-screener-request {
        flex: unset;

        margin-top: 30px;
    }

    #film-screener-request a h4 {
        color: rgba(16, 20, 141, 0.57);;

        background-color: whitesmoke;
        border: 2px solid rgba(16, 20, 141, 0.57);
        border-radius: 6px;

        padding: 10px;

        text-align: center;

        transition-duration: 0.4s;
    }

    #film-screener-request a h4:hover {
        background-color: rgba(16, 20, 141, 0.57);
        color: whitesmoke;

        padding: 10px;

        text-align: center;
    }
}