/*
 *
 * EXTRA SMALL SCREENS
 *
 */
@media screen and (max-width: 500px) {
    /* SET BACKGROUND COLOR */
    body {
        background-color: whitesmoke;
    }

    /* SET FONT SIZES */
    h1 {
        font-family: sans-serif;
        font-size: 48px;
    }

    h2 {
        font-family: Overpass, sans-serif;
        font-size: 24px;
    }

    h3 {
        font-family: Overpass, sans-serif;
        font-size: 16px;
    }

    h4 {
        font-family: Overpass, sans-serif;
        font-size: 13px;
    }

    h5 {
        font-family: Overpass, sans-serif;
        font-size: 12px;
    }

    /* SET HOVERABLE */
    .hoverable {
        transition-duration: 0.4s;
        transition-property: color, opacity;
    }

    .hoverable:hover {
        color: rgba(16, 20, 141, 0.57);
    }

    /* HEADER STYLING */
    header {
        background-color: rgba(227, 114, 97, 0.75);

        padding: 15px 25px;
    }

    .header-flex-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .header-flex-item:nth-child(1) {
        order: 1;
    }

    .header-flex-item:nth-child(2) {
        order: 3;
    }

    .header-flex-item:nth-child(3) {
        order: 2;
        width: 0;
        height: 0;
        visibility: collapse;
    }

    .sub-header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;

        row-gap: 3px;
    }

    .sub-header-flex-item {
        color: rgba(16, 20, 141, 0.57);
    }

    .header-flex-item:first-child .sub-header-flex-item:last-child {
        position: relative;
        bottom: 10px;
    }

    #title {
        color: #ffd5e9;
        font-family: "Dancing Script", sans-serif;
    }

    .nav-flex-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .nav-flex-item {
        color: #ffd5e9;

        font-size: 20px;
    }

    .nav-flex-item:last-child {
        margin-top: 0;
    }

    /* BODY STYLING */
    .body-flex-container {
        color: rgba(0, 0, 0, 0.7);

        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        padding: 50px;
    }

    .body-flex-item {

    }

    .body-flex-item:last-child {
        flex-grow: 1;
    }

    /* SECTION STYLING */
    .section-flex-container {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 25px;
    }

    .section-flex-item {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 10px;
    }

    .section-image {
        order: 1;
    }

    .section-image img:hover {
        opacity: 80%;
    }

    .section-content-main {
        order: 2;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-start;

        row-gap: 5px;
    }

    .film-title {
        color: rgba(16, 20, 141, 0.57);
    }

    .film-role {
    }

    .film-release-year {
        font-style: italic;
    }

    .extra-content {
        margin-top: 25px;
    }
}

/*
 *
 * SMALL SCREENS
 *
 */
@media screen and (min-width: 501px) and (max-width: 800px) {
    /* SET BACKGROUND COLOR */
    body {
        background-color: whitesmoke;
    }

    /* SET FONT SIZES */
    h1 {
        font-family: sans-serif;
        font-size: 48px;
    }

    h2 {
        font-family: Overpass, sans-serif;
        font-size: 24px;
    }

    h3 {
        font-family: Overpass, sans-serif;
        font-size: 16px;
    }

    h4 {
        font-family: Overpass, sans-serif;
        font-size: 13px;
    }

    h5 {
        font-family: Overpass, sans-serif;
        font-size: 12px;
    }

    /* SET HOVERABLE */
    .hoverable * {
        transition-duration: 0.4s;
        transition-property: color, opacity;
    }

    .hoverable:hover {
        color: rgba(16, 20, 141, 0.57);
    }

    /* HEADER STYLING */
    header {
        background-color: rgba(227, 114, 97, 0.75);

        padding: 15px 25px;
    }

    .header-flex-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .header-flex-item:nth-child(1) {
        order: 1;
    }

    .header-flex-item:nth-child(2) {
        order: 3;
    }

    .header-flex-item:nth-child(3) {
        order: 2;
        width: 0;
        height: 0;
        visibility: collapse;
    }

    .sub-header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;

        row-gap: 3px;
    }

    .sub-header-flex-item {
        color: rgba(16, 20, 141, 0.57);
    }

    .header-flex-item:first-child .sub-header-flex-item:last-child {
        position: relative;
        bottom: 10px;
    }

    #title {
        color: #ffd5e9;
        font-family: "Dancing Script", sans-serif;
    }

    .nav-flex-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: right;
        align-items: flex-start;
    }

    .nav-flex-item {
        color: #ffd5e9;
        font-size: 20px;

        margin-left: 15px;
    }

    /* BODY STYLING */
    .body-flex-container {
        color: rgba(0, 0, 0, 0.7);

        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        padding: 50px 50px 50px 50px;
    }

    .body-flex-item {

    }

    .body-flex-item:last-child {
        flex-grow: 1;
    }

    /* SECTION STYLING */
    .section-flex-container {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 25px;
    }

    .section-flex-item {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 10px;
    }

    .section-image {
        order: 1;
    }

    .section-image img:hover {
        opacity: 80%;
    }

    .section-content-main {
        order: 2;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-start;

        row-gap: 5px;
    }

    .film-title {
        color: rgba(16, 20, 141, 0.57);

        order: 1;
        flex: 2 0 100%;
    }

    .film-description {
        order: 2;
        flex: 1 1 40%;
    }

    .film-role {
        order: 4;
        flex: 1 1 100%;
    }

    .film-release-year {
        order: 3;
        flex: 1 1 40%;

        font-style: italic;
        text-align: right;
    }

    .extra-content {
        order: 6;
        flex: 1 1 100%;

        margin-top: 25px;
    }
}

/*
 *
 * MEDIUM SCREENS
 *
 */
@media screen and (min-width: 801px) and (max-width: 1100px) {
    /* SET BACKGROUND COLOR */
    body {
        background-color: whitesmoke;
    }

    /* SET FONT SIZES */
    h1 {
        font-family: sans-serif;
        font-size: 48px;
    }

    h2 {
        font-family: Overpass, sans-serif;
        font-size: 24px;
    }

    h3 {
        font-family: Overpass, sans-serif;
        font-size: 16px;
    }

    h4 {
        font-family: Overpass, sans-serif;
        font-size: 13px;
    }

    h5 {
        font-family: Overpass, sans-serif;
        font-size: 12px;
    }

    /* SET HOVERABLE */
    .hoverable {
        transition-duration: 0.4s;
        transition-property: padding-right, border-right-width, opacity, color;
    }

    .hoverable:hover {
        color: rgba(16, 20, 141, 0.57);
    }

    /* HEADER STYLING */
    header {
        background-color: rgba(227, 114, 97, 0.75);

        position: fixed;
        width: 300px;
        padding-left: 25px;
        padding-right: 50px;
        height: 100%;
        min-height: 320px;
    }

    .header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        justify-content: space-evenly;
    }

    .header-flex-item {
    }

    .sub-header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
    }

    .sub-header-flex-item {
        color: rgba(16, 20, 141, 0.57);
        text-align: right;
    }

    #title {
        font-family: "Dancing Script", sans-serif;

        position: relative;
        top: 5px;
    }

    #title a {
        color: #ffd5e9;
    }

    .nav-flex-container {
        flex-grow: 1;
        padding-top: 20px;
        padding-bottom: 20px;

        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        justify-content: center;
    }

    .nav-flex-item {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .nav-flex-item > a {
        color: #ffd5e9;

        padding-right: 8px;
        border-right-style: solid;
        border-right-width: 3px;
        border-color: rgba(16, 20, 141, 0.57);
    }

    .nav-flex-item > a:hover {
        padding-right: 4px;
        border-right-width: 0;
    }

    .sub-header-flex-container:last-child {
        row-gap: 5px;
    }

    .sub-header-flex-container:last-child > .sub-header-flex-item {
        color: rgba(16, 20, 141, 0.57);
        text-align: left;
    }

    .sub-header-flex-container:last-child > .sub-header-flex-item > a {
        color: #ffd5e9;
    }

    /* BODY STYLING */
    .body-flex-container {
        color: rgba(0, 0, 0, 0.7);

        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        padding: 50px 50px;
    }

    .body-flex-item {

    }

    .body-flex-item:first-child {
        min-width: 300px;
        width: 300px;
    }

    .body-flex-item:last-child {
        flex-grow: 1;
    }

    /* SECTION STYLING */
    .section-flex-container {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 25px;
    }

    .section-flex-item {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 10px;
    }

    .section-image {
        order: 1;
    }

    .section-image img:hover {
        opacity: 80%;
    }

    .section-content-main {
        order: 2;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-start;

        row-gap: 5px;
    }

    .film-title {
        color: rgba(16, 20, 141, 0.57);

        order: 1;
        flex: 2 0 100%;
    }

    .film-description {
        order: 2;
        flex: 1 0 250px;
    }

    .film-role {
        order: 4;
        flex: 1 1 100%;
    }

    .film-release-year {
        order: 3;
        flex: 1 2 100px;

        font-style: italic;
        text-align: right;
    }

    .extra-content {
        order: 6;
        flex: 1 1 100%;

        margin-top: 25px;
    }
}

/*
 *
 * LARGE SCREENS
 *
 */
@media screen and (min-width: 1100px) {
    /* SET BACKGROUND COLOR */
    body {
        background-color: whitesmoke;
    }

    /* SET FONT SIZES */
    h1 {
        font-family: sans-serif;
        font-size: 48px;
    }

    h2 {
        font-family: Overpass, sans-serif;
        font-size: 24px;
    }

    h3 {
        font-family: Overpass, sans-serif;
        font-size: 16px;
    }

    h4 {
        font-family: Overpass, sans-serif;
        font-size: 13px;
    }

    h5 {
        font-family: Overpass, sans-serif;
        font-size: 12px;
    }

    /* SET HOVERABLE */
    .hoverable {
        transition-duration: 0.4s;
        transition-property: padding-right, border-right-width, opacity, color;
    }

    .hoverable:hover {
        color: rgba(16, 20, 141, 0.57);
    }

    /* HEADER STYLING */
    header {
        background-color: rgba(227, 114, 97, 0.75);

        position: fixed;
        width: 300px;
        padding-left: 25px;
        padding-right: 50px;
        min-height: 320px;
        height: 100%;
    }

    .header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        justify-content: space-evenly;
    }

    .header-flex-item {
    }

    .sub-header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
    }

    .sub-header-flex-item {
        color: rgba(16, 20, 141, 0.57);
        text-align: right;
    }

    #title {
        font-family: "Dancing Script", sans-serif;

        position: relative;
        top: 5px;
    }

    #title a {
        color: #ffd5e9;
    }

    .nav-flex-container {
        flex-grow: 1;
        padding-top: 20px;
        padding-bottom: 20px;

        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        justify-content: center;
    }

    .nav-flex-item {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .nav-flex-item > a {
        color: #ffd5e9;

        padding-right: 8px;
        border-right-style: solid;
        border-right-width: 3px;
        border-color: rgba(16, 20, 141, 0.57);
    }

    .nav-flex-item > a:hover {
        padding-right: 4px;
        border-right-width: 0;
    }

    .sub-header-flex-container:last-child {
        row-gap: 5px;
    }

    .sub-header-flex-container:last-child > .sub-header-flex-item {
        text-align: left;
        color: rgba(16, 20, 141, 0.57);
    }

    .sub-header-flex-container:last-child > .sub-header-flex-item > a {
        color: #ffd5e9;
    }

    /* BODY STYLING */
    .body-flex-container {
        color: rgba(0, 0, 0, 0.7);

        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        padding: 50px 50px;
    }

    .body-flex-item {

    }

    .body-flex-item:first-child {
        min-width: 300px;
        width: 300px;
    }

    .body-flex-item:last-child {
        flex-grow: 1;
    }

    /* SECTION STYLING */
    .section-flex-container {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 25px;
        column-gap: 25px;

        align-items: stretch;
    }

    .section-flex-item:nth-child(even) {
    }

    .section-flex-item:nth-child(even) > .section-content-main {
        order: 1;

        display: flex;
        flex-flow: column wrap;
        align-items: flex-end;

        text-align: right;
    }

    .section-flex-item:nth-child(even) > .section-image {
        order: 2;
    }

    .section-flex-item:nth-child(even) > .section-content-main > .extra-content {
        text-align: right;
    }

    .section-flex-item:nth-child(odd) {
    }

    .section-flex-item:nth-child(odd) > .section-content-main {
        order: 2;

        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;

        text-align: left;
    }

    .section-flex-item:nth-child(odd) > .section-image {
        order: 1;
    }

    .section-flex-item:nth-child(odd) > .section-content-main > .extra-content {
        text-align: left;
    }

    .section-flex-item {
        display: flex;
        flex-flow: row nowrap;
        column-gap: 20px;

        align-items: stretch;
        justify-content: center;
    }

    .section-image {
        flex: 0 1 600px;
    }

    .section-image img {
        object-fit: contain;
    }

    .section-image img:hover {
        opacity: 80%;
    }

    .section-content-main {
        flex: 1 0 auto;

        row-gap: 5px;
    }

    .film-title {
        color: rgba(16, 20, 141, 0.57);
    }

    .film-role {
    }

    .film-release-year {
        font-style: italic;
    }

    .extra-content {
        margin-top: auto;
    }
}