/*
 *
 * UNSET STYLE
 *
 */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
  2. Remove default margin and text decoration
*/
* {
    margin: 0;
    text-decoration: none;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

/*
 *
 * SET STYLE
 *
 */
html {
    min-width: 320px;
    min-height: 320px;
}

* {
    transition-duration: 0.4s;
    /*color: rgba(16, 20, 141, 0.57);*/
}

a {
    color: inherit;
    font-size: inherit;
    /*color: black;*/
}

/*
 *
 * EXTRA SMALL SCREENS
 *
 */
@media screen and (max-width: 500px) {
    /* SET BACKGROUND COLOR */
    body {
        background-color: whitesmoke;
    }

    /* SET FONT SIZES */
    h1 {
        font-family: sans-serif;
        font-size: 32px;
    }

    h1 a {
    }

    h2 {
        font-family: sans-serif;
        font-size: 24px;
    }

    h2 a {
    }

    h3 {
        font-family: sans-serif;
        font-size: 16px;
    }

    h3 a {
    }

    h4 {
        font-family: sans-serif;
        font-size: 13px;
    }

    h4 a {
    }

    h5 {
        font-family: sans-serif;
        font-size: 12px;
    }

    h5 a {
    }

    .hoverable:hover {
        color: rgba(16, 20, 141, 0.57);
    }

    /* HEADER STYLING */
    header {
        background-color: rgba(227, 114, 97, 0.75);

        padding: 25px;
    }

    .header-flex-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        justify-content: space-between;
    }

    .header-flex-item:nth-child(1) {
        order: 1;
    }

    .header-flex-item:nth-child(2) {
        order: 3;
    }

    .header-flex-item:nth-child(3) {
        order: 2;
        width: 0;
        height: 0;
        visibility: collapse;
    }

    .sub-header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;

        row-gap: 3px;
    }

    .sub-header-flex-item {
        color: rgba(16, 20, 141, 0.57);
    }

    #title {
        color: #ffd5e9;

        position: relative;
        top: 10px;
    }

    .nav-flex-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .nav-flex-item {
        color: #ffd5e9;

        font-size: 20px;
    }

    .nav-flex-item:last-child {
        margin-top: 0;
    }

    /* BODY STYLING */
    .body-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        padding: 50px;
    }

    .body-flex-item {

    }

    .body-flex-item:last-child {
        flex-grow: 1;
    }

    /* SECTION STYLING */
    .section-flex-container {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 25px;
    }

    .section-flex-item {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 10px;
    }

    .section-image {
        order: 1;
    }

    .section-image:hover {
        opacity: 80%;
    }

    .section-content-main {
        order: 2;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .film-title {
    }

    .film-role {
    }

    .film-logline {
        margin-top: 25px;
    }

    .film-release-year {
        margin-top: 25px;
        font-style: italic;
    }

    .film-festivals {
        font-style: italic;
    }

    .extra-content {
        margin-top: 25px;
    }
}

/*
 *
 * SMALL SCREENS
 *
 */
@media screen and (min-width: 501px) and (max-width: 800px) {
    /* SET BACKGROUND COLOR */
    body {
        background-color: whitesmoke;
    }

    /* SET FONT SIZES */
    h1 {
        font-family: sans-serif;
        font-size: 32px;
    }

    h2 {
        font-family: sans-serif;
        font-size: 24px;
    }

    h3 {
        font-family: sans-serif;
        font-size: 16px;
    }

    h4 {
        font-family: sans-serif;
        font-size: 13px;
    }

    h5 {
        font-family: sans-serif;
        font-size: 12px;
    }

    /* SET HOVERABLE */
    .hoverable:hover {
        color: rgba(16, 20, 141, 0.57);
    }

    /* HEADER STYLING */
    header {
        background-color: rgba(227, 114, 97, 0.75);

        padding: 25px;
    }

    .header-flex-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .header-flex-item:nth-child(1) {
        order: 1;
    }

    .header-flex-item:nth-child(2) {
        order: 3;
    }

    .header-flex-item:nth-child(3) {
        order: 2;
        width: 0;
        height: 0;
        visibility: collapse;
    }

    .sub-header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;

        row-gap: 3px;
    }

    .sub-header-flex-item {
        color: rgba(16, 20, 141, 0.57);
    }

    #title {
        color: #ffd5e9;

        position: relative;
        top: 10px;
    }

    .nav-flex-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: right;
        align-items: flex-start;
    }

    .nav-flex-item {
        color: #ffd5e9;
        font-size: 20px;

        margin-left: 15px;
    }

    /* BODY STYLING */
    .body-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        padding: 50px 50px 50px 50px;
    }

    .body-flex-item {

    }

    .body-flex-item:last-child {
        flex-grow: 1;
    }

    /* SECTION STYLING */
    .section-flex-container {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 25px;
    }

    .section-flex-item {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 10px;
    }

    .section-image {
        order: 1;
    }

    .section-image:hover {
        opacity: 80%;
    }

    .section-content-main {
        order: 2;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .film-title {
        order: 1;
        flex: 2 0 100%;
    }

    .film-description {
        order: 2;
        flex: 1 1 40%;
    }

    .film-role {
        order: 4;
        flex: 1 1 40%;
    }

    .film-release-year {
        order: 3;
        flex: 1 1 40%;

        font-style: italic;
        text-align: right;
    }

    .film-festivals {
        order: 5;
        flex: 1 1 40%;

        font-style: italic;
        text-align: right;
    }

    .extra-content {
        order: 6;
        flex: 1 1 40%;

        margin-top: 25px;
    }
}

/*
 *
 * MEDIUM SCREENS
 *
 */
@media screen and (min-width: 801px) and (max-width: 1100px) {
    /* SET BACKGROUND COLOR */
    body {
        background-color: whitesmoke;
    }

    /* SET FONT SIZES */
    h1 {
        font-family: sans-serif;
        font-size: 32px;
    }

    h1 a {
        transition-duration: 0.3s;
        color: black;
    }

    h2 {
        font-family: sans-serif;
        font-size: 24px;
    }

    h2 a {
        color: black;
    }

    h3 {
        font-family: sans-serif;
        font-size: 16px;
    }

    h3 a {
        color: black;
    }

    h4 {
        font-family: sans-serif;
        font-size: 13px;
    }

    h4 a {
        color: black;
    }

    h5 {
        font-family: sans-serif;
        font-size: 12px;
    }

    h5 a {
        color: black;
    }

    .header > h1 {

    }

    .header > h2 {

    }

    .header > h3 {

    }

    .header > h4 {

    }

    .header > h5 {

    }

    /* SET HOVERABLE */
    .hoverable:hover {
        color: rgba(16, 20, 141, 0.57);
    }

    /* HEADER STYLING */
    header {
        background-color: rgba(227, 114, 97, 0.75);

        position: fixed;
        width: 300px;
        padding-left: 25px;
        padding-right: 50px;
        height: 100%;
        min-height: 320px;
    }

    .header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        justify-content: space-evenly;
    }

    .header-flex-item {
    }

    .sub-header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
    }

    .sub-header-flex-item {
        text-align: right;
    }

    #title {
        position: relative;
        top: 10px;
    }

    #title > a {
        color: #ffd5e9;
    }

    .nav-flex-container {
        flex-grow: 1;
        padding-top: 20px;
        padding-bottom: 20px;

        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        justify-content: center;
    }

    .nav-flex-item {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .nav-flex-item > a {
        color: #ffd5e9;

        padding-right: 8px;
        border-right-style: solid;
        border-right-width: 3px;
        border-color: rgba(16, 20, 141, 0.57);
    }

    .nav-flex-item > a:hover {
        padding-right: 4px;
        border-right-style: unset;
    }

    .sub-header-flex-container:last-child > .sub-header-flex-item {
        color: rgba(16, 20, 141, 0.57);
    }

    .sub-header-flex-container:last-child > .sub-header-flex-item > a {
        color: #ffd5e9;
    }

    /* BODY STYLING */
    .body-flex-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        padding: 50px 50px;
    }

    .body-flex-item {

    }

    .body-flex-item:first-child {
        min-width: 300px;
        width: 300px;
    }

    .body-flex-item:last-child {
        flex-grow: 1;
    }

    /* SECTION STYLING */
    .section-flex-container {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 25px;
    }

    .section-flex-item {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 10px;
    }

    .section-image {
        order: 1;
    }

    .section-image:hover {
        opacity: 80%;
    }

    .section-content-main {
        order: 2;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .film-title {
        order: 1;
        flex: 2 0 100%;
    }

    .film-description {
        order: 2;
        flex: 1 1 40%;
    }

    .film-role {
        order: 4;
        flex: 1 1 40%;
    }

    .film-release-year {
        order: 3;
        flex: 1 1 40%;

        font-style: italic;
        text-align: right;
    }

    .film-festivals {
        order: 5;
        flex: 1 1 40%;

        font-style: italic;
        text-align: right;
    }

    .extra-content {
        order: 6;
        flex: 1 1 40%;

        margin-top: 25px;
    }
}

/*
 *
 * LARGE SCREENS
 *
 */
@media screen and (min-width: 1100px) {
    /* SET BACKGROUND COLOR */
    body {
        background-color: whitesmoke;
    }

    /* SET FONT SIZES */
    h1 {
        font-family: sans-serif;
        font-size: 32px;
    }

    h1 a {
        color: black;
    }

    h2 {
        font-family: sans-serif;
        font-size: 24px;
    }

    h2 a {
        color: black;
    }

    h3 {
        font-family: sans-serif;
        font-size: 16px;
    }

    h3 a {
        color: black;
    }

    h4 {
        font-family: sans-serif;
        font-size: 13px;
    }

    h4 a {
        color: black;
    }

    h5 {
        font-family: sans-serif;
        font-size: 12px;
    }

    h5 a {
        color: black;
    }

    .header > h1 {

    }

    .header > h2 {

    }

    .header > h3 {

    }

    .header > h4 {

    }

    .header > h5 {

    }

    /* SET HOVERABLE */
    .hoverable:hover {
        color: rgba(16, 20, 141, 0.57);
    }

    /* HEADER STYLING */
    header {
        background-color: rgba(227, 114, 97, 0.75);

        position: fixed;
        width: 300px;
        padding-left: 25px;
        padding-right: 50px;
        min-height: 320px;
        height: 100%;
    }

    .header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        justify-content: space-evenly;
    }

    .header-flex-item {
    }

    .sub-header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
    }

    .sub-header-flex-item {
        text-align: right;
    }

    #title {
        position: relative;
        top: 10px;
    }

    #title > a {
        color: #ffd5e9;
    }

    .nav-flex-container {
        flex-grow: 1;
        padding-top: 20px;
        padding-bottom: 20px;

        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        justify-content: center;
    }

    .nav-flex-item {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .nav-flex-item > a {
        color: #ffd5e9;

        padding-right: 8px;
        border-right-style: solid;
        border-right-width: 3px;
        border-color: rgba(16, 20, 141, 0.57);
    }

    .nav-flex-item > a:hover {
        padding-right: 4px;
        border-right-style: unset;
    }

    .sub-header-flex-container:last-child > .sub-header-flex-item {
        color: rgba(16, 20, 141, 0.57);
    }

    .sub-header-flex-container:last-child > .sub-header-flex-item > a {
        color: #ffd5e9;
    }

    /* BODY STYLING */
    .body-flex-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        padding: 50px 50px;
    }

    .body-flex-item {

    }

    .body-flex-item:first-child {
        min-width: 300px;
        width: 300px;
    }

    .body-flex-item:last-child {
        flex-grow: 1;
    }

    /* SECTION STYLING */
    .section-flex-container {
        /*background-color: aquamarine;*/

        display: flex;
        flex-flow: column nowrap;
        row-gap: 25px;
        column-gap: 25px;

        align-items: stretch;
    }

    .section-flex-item:nth-child(even) {
    }

    .section-flex-item:nth-child(even) > .section-content-main {
        order: 1;

        display: flex;
        flex-flow: column wrap;
        align-items: flex-end;

        text-align: right;
    }

    .section-flex-item:nth-child(even) > .section-image {
        order: 2;
    }

    .section-flex-item:nth-child(even) > .section-content-main > .extra-content {
        text-align: right;
    }

    .section-flex-item:nth-child(odd) {
    }

    .section-flex-item:nth-child(odd) > .section-content-main {
        order: 2;

        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;

        text-align: left;
    }

    .section-flex-item:nth-child(odd) > .section-image {
        order: 1;
    }

    .section-flex-item:nth-child(odd) > .section-content-main > .extra-content {
        text-align: left;
    }

    .section-flex-item {
        display: flex;
        flex-flow: row nowrap;
        column-gap: 20px;

        align-items: flex-start;
        justify-content: center;
    }

    .section-image {
        /*border: 6px solid;*/
        flex-shrink: 1;
        flex-grow: 0;
        max-width: 600px;
    }

    .section-image > a > img {
        object-fit: contain;
    }

    .section-image:hover > a > img {
        opacity: 80%;
    }

    .section-content-main {
        flex-shrink: 0;
        flex-grow: 1;
    }

    .film-title {
    }

    .film-role {
    }

    .film-logline {
        margin-top: 25px;
    }

    .film-release-year {
        margin-top: 25px;
        font-style: italic;
    }

    .film-festivals {
        font-style: italic;
    }

    .extra-content {
        margin-top: 25px;
    }
}