/*
 *
 * UNSET STYLE
 *
 */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
  2. Remove default margin and text decoration
*/
* {
    margin: 0;
    text-decoration: none;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

/*
 *
 * EXTRA SMALL SCREENS
 *
 */
@media screen and (max-width: 500px) {
    /* SET FONT SIZES */
    h1 {
        font-family: sans-serif;
        font-size: 28px;
    }

    h1 a {
        transition-duration: 0.3s;
        color: black;
    }

    h1 a:hover {
        color: tomato;
    }

    h1 a:active {
        color: tomato;
    }

    h2 {
        font-family: sans-serif;
        font-size: 20px;
    }

    h2 a {
        transition-duration: 0.3s;
        color: black;
    }

    h2 a:hover {
        color: tomato;
    }

    h2 a:active {
        color: tomato;
    }

    h3 {
        font-family: sans-serif;
        font-size: 16px;
    }

    h3 a {
        transition-duration: 0.3s;
        color: black;
    }

    h3 a:hover {
        color: tomato;
    }

    h3 a:active {
        color: tomato;
    }

    h4 {
        font-family: sans-serif;
        font-size: 12px;
    }

    h4 a {
        transition-duration: 0.3s;
        color: black;
    }

    h4 a:hover {
        color: tomato;
    }

    h4 a:active {
        color: tomato;
    }

    /* BODY STYLING */
    .body-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .body-flex-item {

    }

    /* HEADER STYLING */
    header {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .header-flex-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .header-flex-item:first-child {
        padding-left: 25px;
    }

    .header-flex-item:last-child {
        visibility: collapse;
    }

    .sub-header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;

        row-gap: 3px;
    }

    .sub-header-flex-item {
    }

    #title {

    }

    .nav-flex-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: right;
        align-items: flex-start;
        z-index: 2;
    }

    .nav-flex-item {
        margin-left: 8px;
        z-index: 2;
    }

    /* SECTION STYLING */
    .section-flex-container {
        display: flex;
        flex-flow: column nowrap;
    }

    .section-flex-item {
        display: flex;
        flex-flow: column nowrap;
        padding-bottom: 18px;
    }

    .section-flex-item:last-child {
        padding-bottom: 20px;
    }

    .section-image {
        transition-duration: 0.3s;
    }

    .section-image:hover {
        opacity: 50%;
    }

    .section-content {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;

        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .film-title {
    }

    .film-description {
        position: relative;
        top: 3px;
        margin-left: auto;
    }

    .break {
        height: 0;
        flex-basis: 100%;
    }

    .extra-content {
        position: relative;
        bottom: 8px;
        max-width: 200px;
        margin-left: auto;
        text-align: right;
    }
}

/*
 *
 * SMALL SCREENS
 *
 */
@media screen and (min-width: 501px) and (max-width: 800px) {
    /* SET FONT SIZES */
    h1 {
        font-family: sans-serif;
        font-size: 28px;
    }

    h1 a {
        transition-duration: 0.3s;
        color: black;
    }

    h1 a:hover {
        color: tomato;
    }

    h1 a:active {
        color: tomato;
    }

    h2 {
        font-family: sans-serif;
        font-size: 20px;
    }

    h2 a {
        transition-duration: 0.3s;
        color: black;
    }

    h2 a:hover {
        color: tomato;
    }

    h2 a:active {
        color: tomato;
    }

    h3 {
        font-family: sans-serif;
        font-size: 16px;
    }

    h3 a {
        transition-duration: 0.3s;
        color: black;
    }

    h3 a:hover {
        color: tomato;
    }

    h3 a:active {
        color: tomato;
    }

    h4 {
        font-family: sans-serif;
        font-size: 12px;
    }

    h4 a {
        transition-duration: 0.3s;
        color: black;
    }

    h4 a:hover {
        color: tomato;
    }

    h4 a:active {
        color: tomato;
    }

    /* BODY STYLING */
    .body-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .body-flex-item {

    }

    /* HEADER STYLING */
    header {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .header-flex-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    .header-flex-item:first-child {
        padding-left: 50px;
    }

    .header-flex-item:last-child {
        padding-top: 20px;
        padding-right: 50px;
    }

    .sub-header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;

        row-gap: 3px;
    }

    #title {
        position: relative;
        top: 8px;
    }

    .nav-flex-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: right;
        align-items: flex-start;
        z-index: 2;
    }

    .nav-flex-item {
        margin-left: 8px;
        z-index: 2;
    }

    .header-flex-item:last-child {

    }

    #email {
        position: relative;
        bottom: 3px;
    }

    .socials-flex-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: right;
        align-items: flex-start;
    }

    .socials-flex-item {
        margin-left: 8px;
    }

    .socials-icon {
        transition-duration: 0.3s;
    }

    .socials-icon:hover {
        opacity: 50%;
    }

    /* SECTION STYLING */
    .section-flex-container {
        display: flex;
        flex-flow: column nowrap;
    }

    .section-flex-item {
        display: flex;
        flex-flow: column nowrap;
        padding-bottom: 18px;
    }

    .section-flex-item:last-child {
        padding-bottom: 20px;
    }

    .section-image {
        transition-duration: 0.3s;
    }

    .section-image:hover {
        opacity: 50%;
    }

    .section-content {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;

        padding-top: 10px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .film-title {
    }

    .film-description {
        position: relative;
        top: 3px;
        margin-left: auto;
    }

    .break {
        height: 0;
        flex-basis: 100%;
    }

    .extra-content {
        position: relative;
        bottom: 8px;
        max-width: 200px;
        margin-left: auto;
        text-align: right;
    }
}

/*
 *
 * MEDIUM SCREENS
 *
 */
@media screen and (min-width: 801px) and (max-width: 1100px) {
    /* SET FONT SIZES */
    h1 {
        font-family: sans-serif;
        font-size: 28px;
    }

    h1 a {
        transition-duration: 0.3s;
        color: black;
    }

    h1 a:hover {
        color: tomato;
    }

    h1 a:active {
        color: tomato;
    }

    h2 {
        font-family: sans-serif;
        font-size: 20px;
    }

    h2 a {
        transition-duration: 0.3s;
        color: black;
    }

    h2 a:hover {
        color: tomato;
    }

    h2 a:active {
        color: tomato;
    }

    h3 {
        font-family: sans-serif;
        font-size: 16px;
    }

    h3 a {
        transition-duration: 0.3s;
        color: black;
    }

    h3 a:hover {
        color: tomato;
    }

    h3 a:active {
        color: tomato;
    }

    h4 {
        font-family: sans-serif;
        font-size: 12px;
    }

    h4 a {
        transition-duration: 0.3s;
        color: black;
    }

    h4 a:hover {
        color: tomato;
    }

    h4 a:active {
        color: tomato;
    }

    /* BODY STYLING */
    .body-flex-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: center;
    }

    .body-flex-item {

    }

    .body-flex-item:first-child {
        width: 300px;
    }

    .body-flex-item:last-child {
        flex: 1 0 0;
    }

    /* HEADER STYLING */
    header {
        position: fixed;
        width: 240px;
        padding-top: 25px;
        padding-left: 50px;
        padding-bottom: 40px;
        height: 100%;
    }

    .header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        justify-content: space-between;
    }

    .header-flex-item {
    }

    .sub-header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;

        row-gap: 3px;
    }

    .sub-header-flex-item {
    }

    #title {
        position: relative;
        top: 8px;
    }

    .nav-flex-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: right;
        align-items: flex-start;
        z-index: 2;
    }

    .nav-flex-item {
        margin-left: 8px;
        z-index: 2;
    }

    .header-flex-item:last-child {

    }

    #email {
        position: relative;
        bottom: 3px;
    }

    .socials-flex-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: right;
        align-items: flex-start;
    }

    .socials-flex-item {
        margin-left: 8px;
    }

    .socials-icon {
        transition-duration: 0.3s;
    }

    .socials-icon:hover {
        opacity: 50%;
    }

    .socials-icon img {
    }

    /* SECTION STYLING */
    .section-flex-container {
        display: flex;
        flex-flow: column nowrap;
    }

    .section-flex-item {
        display: flex;
        flex-flow: column nowrap;
        padding-bottom: 18px;
    }

    .section-flex-item:last-child {
        padding-bottom: 20px;
    }

    .section-image {
        transition-duration: 0.3s;
    }

    .section-image:hover {
        opacity: 50%;
    }

    .section-content {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;

        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .film-title {
    }

    .film-description {
        position: relative;
        top: 3px;
        margin-left: auto;
    }

    .break {
        height: 0;
        flex-basis: 100%;
    }

    .extra-content {
        position: relative;
        bottom: 8px;
        max-width: 200px;
        margin-left: auto;
        text-align: right;
    }
}

/*
 *
 * LARGE SCREENS
 *
 */
@media screen and (min-width: 1101px) {
    /* SET FONT SIZES */
    h1 {
        font-family: sans-serif;
        font-size: 28px;
    }

    h1 a {
        transition-duration: 0.3s;
        color: black;
    }

    h1 a:hover {
        color: tomato;
    }

    h1 a:active {
        color: tomato;
    }

    h2 {
        font-family: sans-serif;
        font-size: 20px;
    }

    h2 a {
        transition-duration: 0.3s;
        color: black;
    }

    h2 a:hover {
        color: tomato;
    }

    h2 a:active {
        color: tomato;
    }

    h3 {
        font-family: sans-serif;
        font-size: 16px;
    }

    h3 a {
        transition-duration: 0.3s;
        color: black;
    }

    h3 a:hover {
        color: tomato;
    }

    h3 a:active {
        color: tomato;
    }

    h4 {
        font-family: sans-serif;
        font-size: 12px;
    }

    h4 a {
        transition-duration: 0.3s;
        color: black;
    }

    h4 a:hover {
        color: tomato;
    }

    h4 a:active {
        color: tomato;
    }

    /* BODY STYLING */
    .body-flex-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
    }

    .body-flex-item {

    }

    .body-flex-item:first-child {
        width: 300px;
    }

    .body-flex-item:last-child {
        flex: 1 0 0;
    }

    /* HEADER STYLING */
    header {
        position: fixed;
        width: 240px;
        padding-top: 25px;
        padding-left: 50px;
        padding-bottom: 40px;
        height: 100%;
    }

    .header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        justify-content: space-between;
    }

    .header-flex-item {
    }

    .sub-header-flex-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        row-gap: 3px;
    }

    .sub-header-flex-item {
    }

    #title {
        position: relative;
        top: 8px;
    }

    .nav-flex-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: right;
        align-items: flex-start;
        z-index: 2;
    }

    .nav-flex-item {
        margin-left: 8px;
        z-index: 2;
    }

    .header-flex-item:last-child {

    }

    #email {
        position: relative;
        bottom: 3px;
    }

    .socials-flex-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: right;
        align-items: flex-start;
    }

    .socials-flex-item {
        margin-left: 8px;
    }

    .socials-icon {
        transition-duration: 0.3s;
    }

    .socials-icon:hover {
        opacity: 50%;
    }

    .socials-icon img {
    }

    /* SECTION STYLING */
    .section-flex-container {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 25px;
    }

    .section-flex-item {
        display: flex;
        flex-flow: row-reverse nowrap;
        column-gap: 25px;
    }

    .section-image {
        transition-duration: 0.3s;
    }

    .section-image:hover {
        opacity: 50%;
    }

    .section-content {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-end;

        padding-top: 38px;
        padding-bottom: 38px;

        min-width: 250px;
        max-width: 250px;
    }

    .extra-content {
        margin-top: auto;
        text-align: right;
    }
}